<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kej.app.reply.mapper.ReplyMapper">
	<!-- dress detail page -->
	<!-- 댓글 조회 -->
	<select id="replyList" resultType="ReplyVO">
		SELECT reply_no
		     , board_no
		     , group_no
		     , group_layer
		     , id
		     , content
		     , write_dt
		     , update_dt
		     , yn 
		  FROM reply
		 WHERE 1=1
		   AND board_no = #{boardNo}
		   AND group_layer = #{groupLayer}
		   AND yn = 1
		 ORDER BY reply_no DESC
	</select>
	
	<select id="childReplyList" resultType="ReplyVO">
		SELECT reply_no
		     , board_no
		     , group_no
		     , group_layer
		     , id
		     , content
		     , write_dt
		     , update_dt
		     , yn 
		  FROM reply
		 WHERE 1=1
		   AND group_no = #{groupNo}
		   AND group_layer = #{groupLayer}
		   AND yn = 1
		 ORDER BY reply_no
	</select>
	
	<insert id="replyInsert" parameterType="ReplyVO">
		<selectKey keyProperty="replyNo" resultType="java.lang.Integer" order="BEFORE">
			SELECT nextval('REPLY_SEQ')
		</selectKey>
		INSERT INTO reply
			( reply_no
			, board_no
			, group_no
		    , group_layer
		    , id
		    , content
		    , write_dt
		    , yn)
		VALUES
			( #{replyNo}
			, #{boardNo}
			, #{groupNo}
			, #{groupLayer}
			, #{id}
			, #{content}
			, now()
			, 1)
	</insert>
	
	<update id="replyUpdate" parameterType="ReplyVO">
		UPDATE reply
		   SET content = #{content}
		     , update_dt = now()
		 WHERE reply_no = #{replyNo}
	</update>
	
	<update id="replyDelete" parameterType="int">
		UPDATE reply
		   SET yn = 0
		 WHERE reply_no = #{replyNo}
	</update>
	
	<!-- dress detail page end -->

</mapper>