a {
    text-decoration: none !important;
}
ul, li, ol, dl {list-style: none !important;}
ul::marker{list-style: none !important;}
fieldset {border : none !important;}

.selected{
    color: #3935ff !important;
    font-weight: bold;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.boardListForm {
	margin: 20px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.boardListFormBtn {
    margin-right: 10px;
}
.boardListFormBtn a {
    
    width: 20px;
    height: 20px;
}
.boardListFormBtn a img {
	margin-right: 10px;
    width: 20px;
    height: 20px;
}
#handleAmount {
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 2px;
    padding: 3px;
    font-size: 12px;
}
.writingBntDiv {
    float: right;
    margin-top: 10px;
}
.boardSearchInput {
    width: 500px;
}
#boardCategory, #searchType {
    width: 30%;
    margin-right: 10px;
    padding-left: 20px;
}
#boardNotList{
    text-align: center; 
    height: 300px;
}
.postNotData {
    text-align: center;
    height: 300px;
    width: 100%;
}
.menuCategoryDiv .menuCategory > li::after {
    content: "";
    width: 1px;
    height: 20px;
    background: #dadada;
    position: absolute;
    top: 77px;
    margin-left: 15px;
}
.menuCategory {
    display: -webkit-box !important;
    list-style: none !important;
}
.menuCategory > li {
    margin: 0 15px !important;
}
.menuCategory > li > a{
    color: black;
    text-decoration : unset !important;
}
.menuCategory > li > a:hover {
    cursor: pointer !important;
    color: rgb(174, 77, 204) !important;
}

/* 테스트용 */
/* 공통 스타일 */
#contentListTest a {
    color: black !important;
}
#contentListTest,
.contentNotData {
    margin-top: 20px;
}
.contentNotData {
    width: 100%;
    height: 300px;
    position: relative;
}
.inner-div > h3 {
    line-height: 230px;

}

.postType {
    display: inline-flex;
    padding: 5px 0;
    margin-left: 5px;
    margin-right: 5px;
}
.postAlbumType {
    border: 1px solid #ccc;
    /* margin-bottom: 10px; */
    padding: 5px;
    border-radius: 8px;
}
/* 앨범형 스타일 */
.postAlbumType > li {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; */
    border-bottom: 1px solid #eeeeef;
    padding: 16px 0;
    display: block;
}
.card_area {
    display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
}
.con {
    display: table-cell;
    position: relative;
}
.con_top > a:nth-child(2) {
    color: #3f3f3f !important;
    max-height: 44px;
    display: -webkit-box;
    line-height: 22px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tit_area {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.con_bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 35px;
}
.date_num {
    float: left;
    color: #999;
    margin-left: 10px;
}
.date_num > span {
    margin-right: 10px;
}
.movie-img {
    display: table-cell;
    position: relative;
    width: 120px;
    height: 120px;
    /* padding-left: 35px; */
    vertical-align: top;
}
.movie-img a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    content: '';
    box-sizing: border-box;
}
/* 카드형 스타일 */
.cardsType {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cardsPStyle {
    display: -webkit-box;
    font-weight: bold !important;
}
.cardType {
    flex: 1 1 200px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
/* 리스트형 스타일 */
.listType {
    list-style: none;
    padding: 0;
}
.listType li {
    margin-bottom: 10px;
}
/* 1열, 4열, 5열 가운데 정렬 */
#boardList tbody td:nth-child(1),
#boardList tbody td:nth-child(4),
#boardList tbody td:nth-child(5) {
    text-align: center;
}
.boardListFormChangeBtn {
    cursor: pointer;
}

/* 앨범형 스타일 */
.cardType > p {
    padding-left: 5px;
}
.albumTypeImg {
    width: 200px;
    height: 190px;
}