/* naver api list style */
#newsList, #bookList {
    width: 100%;
    height: 520px;
}
/* board list style */
#newBoardList > div,
#topBoardList > div {
    height: 180px;
}
.titleDiv p {
    max-height: 4.6em;
    display: -webkit-box;
    line-height: 22px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}
.bookTitle {
    margin: 0;
}
/* news list style */
.button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0 -16px;
}
.button-container > button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}
/* 뉴스 버튼 */
.button-container .left-button {
    position: absolute;
    left: -0;
}
.button-container .right-button {
    position: absolute;
    right: 0;
}
/* 게시글 사진 버튼 */
.button-container .img-prev {
    position: absolute;
    left: -0;
}
.button-container .img-next {
    position: absolute;
    right: 0;
}
a {
    color: black;
    text-decoration: none !important;
    cursor: pointer !important;
}
.newsCategoryChange {
    float: right;
}
.categoryLink:hover {
    color: blue;
}
/* book list style */
.dookListBtn {
    position: absolute;
    width: 100%;
    margin: 0 -18px;
    bottom: 57px;
}
.dookListBtn .bookLeftBnt {
    position: absolute;
    left: 130px;
}
.dookListBtn .bookRightBnt {
    position: absolute;
    right: 130px;
}
.mainTable {
    height: 30px;
}
.mainTable td:nth-child(1),
.mainTable td:nth-child(3),
.mainTable td:nth-child(4),
.mainTable td:nth-child(5),
.mainTable td:nth-child(6) {
    text-align: center;
    color: #666;
    font-size: 12.7px;
}
/* pagenation */
#prevPageBtn[disabled],
#prevPageBtn[disabled]:hover,
#top-prevPageBtn[disabled],
#top-prevPageBtn[disabled]:hover {
    background-color: #e7e7e7;
    cursor: not-allowed;
    border: 1px solid #e7e7e7;
}
#prevPageBtn[disabled] i:hover,
#top-prevPageBtn[disabled] i:hover {
    color: #fff;
}
#nextpageBtn[disabled],
#nextpageBtn[disabled]:hover,
#top-nextpageBtn[disabled],
#top-nextpageBtn[disabled]:hover {
    background-color: #e7e7e7;
    cursor: not-allowed;
    border: 1px solid #e7e7e7;
}
#nextpageBtn[disabled] i:hover,
#top-nextpageBtn[disabled] i:hover {
    color: #fff;
}
.pageSelected {
    background-color: #ffffff !important;
    color: #404040 !important;
}
/* top board pagenation */
#topBoardListPagingBox {
    clear: both;
    margin-top: 20px;
    width: 100%;
}
#topBoardListPagingBox .pbtn {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    border: 1px solid #caced1;
    border-radius: 2px;
    color: #fff;
    background-color: #caced1;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
/* category menu css */
#bookSerachBnt,
#newsSerachBnt {
    width: 60px;
    text-align: center;
    border-radius: 10px;
    border: 0px;
    background-color: #E4EBF5;
    color: #333333;
    font-size: 0.8em;
    font-weight: bold;
    animation-name: keybtn-language;
    animation-duration: .2s;
    margin-left: 10px;
}
/*버튼 눌리는 효과*/
#bookSerachBnt:active,
#newsSerachBnt:active {
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0; 
    cursor: pointer;
}
/* https://blog.naver.com/PostView.naver?blogId=bgpoilkj&logNo=221150512824 */
#menu, #newBoardMenu {
    font:bold 16px "malgun gothic";
    height:24px;
    line-height: 50px; 
    margin:0 auto;
    text-align: center;
    /* box-shadow: 3px 3px 13px -5px gray; */
    /* border-radius: 20px; */
}
#menu > ul > li, #newBoardMenu > ul > li {
    float:left;
    width:120px;
    position:relative;
    border-right-style: solid;
    border-right-color: gray;
    border-right-width: thin;
}
#menu > ul > li:last-child,
#newBoardMenu > ul > li:last-child {
    border-right-style: none;
}
#menu > ul > li > ul,
#newBoardMenu > ul > li > ul{
    width: 130px;
    display: none;
    position: absolute;
    font-size: 14px;
    padding: 0 !important;
    z-index: 999;
    background: #f2f0f3;
    border: 1px solid #dadada;
}
#menu > ul > li:hover > ul,
#newBoardMenu > ul > li:hover > ul {
    display: block;
}
#menu > ul > li > ul > li,
#newBoardMenu > ul > li > ul > li {
    border-bottom: 2px dotted #efd9f4;
}
#menu > ul > li > ul > li:last-child,
#newBoardMenu > ul > li > ul > li:last-child {
    border-bottom: none;
}
#menu > ul > li > ul > li:hover,
#newBoardMenu > ul > li > ul > li:hover {
    background: rgb(255, 255, 255);
    transition: ease 1s;
}
.subCategorySelected {
    background: rgb(255, 255, 255);
    color: rgb(240, 72, 128);
}
.subCategorySelected:hover {
    background: rgb(255, 255, 255);
    color: rgb(240, 72, 128);
}
/* 게시글 이미지 목록 */
.slide_wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}
.slides{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
.boardImgStyle {
    width: 100%;
    height: 230px;
    border-radius: 15px;
}
.boardInformation {
    text-align: left !important;
    padding-left: 10px;
}
.boardInformation i {
    margin-right: 2px;
    margin-left: 6px;
}
.boardInformation .boardCateAndTitle {
    height: 75px;
}
.boardInformation .boardTitle {
    font-weight: bold;
}
.categoryArea span {
    font-size: 12px;
}
.slides.animated{
    transition: 0.5s ease-out;
}
.slides li{
    display: inline-block;
    width: 22%;
    height: 400px;
    list-style: none;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 15px;
}
/* 막내빼고는 다른 li에 마진 */
.slides li:not(:last-child){ 
    margin-right: 20px;
}
/* .controls{
    text-align: center;
    margin-top: 20px;
} */