/* 카테고리 스타일 */
    	.contentCenterSetting{
    		width: 1000px;
    		margin: 0 auto;
    	}
    	.contentWidthSetting{
    		width: 950px;
    	}
    	.listCategorySelect{
    		display: flex;
    	}
    	.listCategorySelect > .form-group > select{
    		width: 465px !important;
    	}
    	.listCategorySelect > .form-group {
    		margin-right: 20px;
    	}
    	/* 에디터 스타일 */
    	.ck-editor__editable { height: 400px; }
      	.ck-content { font-size: 12px; }
      	  /* button */
	      #submintBtn{
		   box-sizing: border-box;
		   display: inline-block;
		   width: 45px;
		   height: 33px;
		   color: white;
		   font-size: 13px;
		   font-weight: 700;
		   text-align: center;
		   cursor: pointer;
		   vertical-align: top;
		   transition: 0.5s;
		   background: #4B49AC;
		   border: none;
		   border-radius: 5px;
		  }
	
		  #submintBtn:hover {	
		   color: #4B49AC;
		   background: white;
		   transition: 0.5s;
		  }
		  
	      #backBtn{
	       background: #f8f9fa;
	       box-sizing: border-box;
		   display: inline-block;
		   width: 80px;
		   height: 33px;
		   color: black;
		   font-size: 13px;
		   font-weight: 700;
		   text-align: center;
		   cursor: pointer;
		   vertical-align: top;
		   transition: 0.5s;
		   border: none;
		   border-radius: 5px;
	      }
	      
	      #backBtn:hover {	
		   color: #f8f9fa;
		   transition: 0.5s;
		   background: #a3a4a5;
		  }