<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kej.app.board.mapper.BoardMapper">
	<!-- 옷 게시판 전체 목록 -->
	<!-- 페이징+목록개수  https://badstorage.tistory.com/13 -->
	<select id="dressBoradList" resultType="BoardVO">
		SELECT *
  			FROM (
				SELECT b.board_no
				     , code
				     , category
				     , writer
				     , title
				     , b.content
				     , b.write_dt
				     , view
				     , IFNULL(r.reply_count, 0) AS "reply_count"
				  FROM board b
				  LEFT OUTER JOIN ( SELECT board_no, COUNT(*) "reply_count"
				                      FROM reply
				                     WHERE (yn = 0 OR yn IS NULL)
				                       AND (re_reply_yn = 0 OR re_reply_yn IS NULL)
				                     GROUP BY board_no
				                  ) r
				    ON b.board_no = r.board_no
				 WHERE code = 10
				   AND b.yn = 0
			 ) a
		ORDER BY 1
  		LIMIT #{pageStart}, #{amount}
	</select>
	
	<select id="pagecount" resultType="int">
		 SELECT count(*)
		   FROM board
		  WHERE code = 10
		    AND yn = 0
	</select>




























































</mapper>