<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kej.app.board.mapper.MusicBoardMapper">
  	
  	<!-- 전체 목록 조회 -->
  	<!-- 페이징 -->
  	<select id="musicBoardAllList" resultType="BoardVO">
  		SELECT *
			FROM (
				SELECT b.BOARD_NO
					 , code
					 , category
				     , id
				     , title
				     , content
				     , write_dt  
				     , view_count
				     , (SELECT count(*)
				  		  FROM reply r
				  		 WHERE yn = 1
				  		   AND b.board_no = r.board_no
						   AND r.yn = 1
				  	   ) AS reply_count
			     FROM board b
			    WHERE b.yn = 1
			      AND code = #{code}
			      AND category LIKE CONCAT('%', #{category}, '%')
			    ORDER BY b.write_dt DESC
			 ) a
  		LIMIT #{pageStart}, #{amount}
  	</select>
  	
  	<!-- Board All List Count -->
  	<select id="pageCount" resultType="int">
  		 SELECT COUNT(*)
		   FROM board
		  WHERE code = #{code}
		    AND yn = 1
  	</select>
  	
  	<select id="musicBoardFirstNumber" resultType="BoardVO">
  		SELECT board_no
  		  FROM board
  		 WHERE code = #{code}
  		 ORDER BY board_no asc 
  		 LIMIT 1
  	</select>
  	
  	<select id="musicBoardLastNumber" resultType="BoardVO">
  		SELECT board_no
  		  FROM board
  		 WHERE code = #{code}
  		 ORDER BY board_no DESC 
  		 LIMIT 1
  	</select>
  	
  	<!--  Music 게시글 단건 조회 -->
  	<select id="musicBoardDetail" resultType="BoardVO">
  		SELECT b.board_no
			 , b.id
			 , b.title 
			 , b.write_dt  
			 , b.view_count
			 , b.content
			 , b.code
			 , (SELECT count(BOARD_NO)
			 	  FROM board_like bl
			  	 WHERE b.board_no = bl.board_no
			   ) as like_count
			  , (SELECT count(*)
			  	   FROM reply r
			  	  WHERE yn = 1
			     	AND b.board_no = r.board_no
				    AND r.yn = 1
			  	 ) as reply_count
		  FROM board b
		 WHERE b.yn = 1
		   AND board_no = #{boardNo}
		   AND code = 20
  	</select>
  	
  	<!-- 관련게시글 - 이전, 다음 게시글 4개씩 조회 -->
  	<select id="findPrevNextBoardNumber" resultType="BoardVO">
	  	WITH OrderedData AS (
		    SELECT board_no,
		           LAG(board_no, 1) OVER (ORDER BY board_no DESC) AS prev1,
		           LAG(board_no, 2) OVER (ORDER BY board_no DESC) AS prev2,
		           LAG(board_no, 3) OVER (ORDER BY board_no DESC) AS prev3,
		           LAG(board_no, 4) OVER (ORDER BY board_no DESC) AS prev4,
		           LEAD(board_no, 1) OVER (ORDER BY board_no DESC) AS next1,
		           LEAD(board_no, 2) OVER (ORDER BY board_no DESC) AS next2,
		           LEAD(board_no, 3) OVER (ORDER BY board_no DESC) AS next3,
		           LEAD(board_no, 4) OVER (ORDER BY board_no DESC) AS next4
		      FROM board
		     WHERE code = #{code}
		)
		SELECT 
		    CONCAT_WS(',',
		        IFNULL(prev1, NULL),
		        IFNULL(prev2, NULL),
		        IFNULL(board_no, NULL),
		        IFNULL(next1, NULL),
		        IFNULL(next2, NULL),
		        IFNULL(prev3, NULL),
		        IFNULL(prev4, NULL),
		        IFNULL(next3, NULL),
		        IFNULL(next4, NULL)
		    ) AS related_post_list
		 FROM OrderedData
		WHERE board_no = #{boardNo}
  	</select>
  	
	<!-- 관련게시글 -->
  	<select id="getRelatedPost" parameterType="BoardVO" resultType="BoardVO">
  		SELECT b.board_no
			 , b.code
			 , b.category
			 , b.id
			 , b.title
			 , b.content
			 , b.write_dt
			 , b.view_count
			 , b.yn
			 , (SELECT count(*)
		  		  FROM reply r
		  		 WHERE yn = 1
		  		   AND b.board_no = r.board_no
				   AND r.yn = 1
		  	   ) AS reply_count
		  FROM board b
		 WHERE b.code = #{code}
		   AND b.board_no IN 
		   <foreach collection="selectedArray" item="arr" open="(" close=")" separator=",">
				#{arr}
		   </foreach>
		 ORDER BY b.board_no DESC
  	</select>
  	
  </mapper>